
* {
    margin: 0;
    padding: 0;
  }

  .body {
    background: #fcfcfc;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }

  .header {
    background: #8899a6;
    height: 150px;
  }

  .btn-cart {
    margin-top: 55px;
    background-color: #87CEEB;
    padding: 5px 10px;
    color: #2F4F4F;
    position: absolute;
    right: 0;
    display: flex;
  }

  .btn-cart-text {
    margin: 3px 5px 0 0;
  }

  .products {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
  }

  .product-item {
    box-shadow: 0 0 5px 2px #87CEEB;
    padding: 15px;
    text-align: center;
    background: #fff;
  }

  .product-title {
    margin-top: 20px;
    color: #8a9094;
  }

  .product-price {
    margin-top: 20px;
    color: #fa9c0f;
    font-weight: bold;
  }

  .buy-btn {
    margin-top: 30px;
    background-color: #87CEEB;
    padding: 5px 32px;
    color: #2F4F4F;
  }
